*{
    margin: 0;
    padding: 0;
}

.bacbluu{
    padding-top: 20px;
    background: #EDF7FA;
    margin-top: 130px;
    margin-bottom: 70px;

}

.libisi{
    margin-left: 10px;
}

.al{
    color: #00A8CC;
    margin-left: 400px;
}

.amet{
    margin-top: -100px;
    margin-right: 80px;
}