*{
    margin: 0;
    padding: 0;
}

.newpos{
    display: flex;
   list-style: none;
   margin-left: 750px;
    margin-top: 50px;
}


.list_ny{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
text-align: right;
padding-left: 40px;
}

.hbir{
    margin-top: 190px;
    text-shadow: 2px 2px 5px red;
}

.pi{
    margin-top: 30px;
    text-shadow: 2px 2px 5px red;  
}

.airst{
    width: 240px;
    border-radius: 50%;
    margin-left: 800px;
    margin-top: -270px;
    box-shadow: 21px 10px 20px  13px rgb(243, 120, 120);
}

.firbtn{
    margin-top: 20px;
    background: #FF6464;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid #FF6464;
    border-radius: 2px;
    color: white;
}


