*{
    margin: 0;
    padding: 0;
}



.icls{
    margin-left: 500px;
}

.olti{
    margin-top: 20px;
    text-align: center;
    margin-right: 50px;
}

#dropdown-basic-button{
    width: 100px;
}

.acrbutton{
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(239, 190, 190);
    border-radius: 3px;
    border: 1px solid rgb(241, 29, 29);
    margin-left: 200px;
    color: white;
}

.acrdio{
    width: 600px;
}

